/* Global styles */

/* Import Source Code Pro font */
@font-face {
  font-family: "Source Code Pro";
  src: url("../fonts/SourceCodePro-VariableFont_wght.ttf") format("truetype");
}

.header-content {
  background-color: #333;
  color: #fff;
  text-align: center;
}

.header-description {
  text-align: center;
  padding-bottom: 20px;
  background-color: #333;
  color: white;
  max-width: 1000px;
  margin: 0 auto;
}

.header-logo-desktop {
  display: block;
}

.header-logo-mobile {
  display: none;
}

/* Set default font and font size */
body {
  background-color: black; /* Black background */
  color: white; /* White text color */
  font-family: "Source Code Pro", sans-serif; /* Use Source Code Pro font */
  font-size: 16px; /* Set default font size */
}

/* Set default link color */
a {
  color: #6236ff; /* PRG Purple link */
}

/* Table styles */
table {
  border-collapse: collapse;
  width: 100%;
  background-color: black !important; /* Black background */
  color: white;
}

th,
td {
  padding: 8px;
  border: 1px solid grey; /* Grey border */
  text-align: left;
}

th {
  position: sticky;
  top: -1px;
  background-color: #333 !important; /* Dark gray header background */
  z-index: 2;
}

tbody tr {
  background-color: black !important; /* Black row background */
}

tbody tr:nth-child(even) {
  background-color: #333 !important; /* Dark gray alternate row background */
}

tbody tr:hover {
  background-color: #6236ff !important; /* Lighter gray hover effect */
}

tbody tr:hover a {
  color: white;
}

/* Style the DataTables search input */
.dataTables_filter input {
  background-color: #333;
  color: white;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  width: 200px;
}

/* Move the DataTables search input to the right */
.dataTables_filter {
  float: right;
}

/* CSS to move the info label to the upper right-hand corner */
.dataTables_info {
  float: left;
  position: absolute;
  padding-top: 20px;
}

.icon-container img {
  transition: transform 0.3s; /* Smooth transition on hover */
}

/* Scale effect on hover for the icons */
.icon-container:hover img {
  transform: scale(1.08); /* Enlarge the icon on hover */
}

.title-welcome-mobile {
  display: none; /* Initially hide the mobile title */
}

.title-welcome-desktop {
  display: block; /* Initially show the desktop title */
}

/* Mobile Responsive Styles */
@media screen and (max-width: 600px) {
  table {
    width: 1500px;
  }

  .title-welcome-mobile {
    display: block; /* Show the mobile title on small screens */
  }

  .title-welcome-desktop {
    display: none; /* Hide the desktop title on small screens */
  }

  .dataTables_filter {
    float: none;
    text-align: center; /* Optional: Center the search bar on mobile */
    margin-bottom: 20px; /* Adjust the space below the search bar */
  }

  .dataTables_info {
    position: static; /* Reset the position value on mobile */
    float: none; /* Reset the float value on mobile */
    text-align: center; /* Center the info label */
    padding-bottom: 20px;
  }

  .header-logo-desktop {
    display: none;
  }

  .header-logo-mobile {
    display: block;
  }
}

/* Mobile Responsive Styles */
@media screen and (max-width: 600px) {
  .header-logo-desktop {
    display: none;
  }

  .header-logo-mobile {
    display: block;
    width: 100%; /* Ensure logo takes full width of its container */
    max-width: 100%; /* Prevent the logo from exceeding the screen width */
  }

  table {
    width: 100%; /* Make table width responsive */
    overflow-x: auto; /* Enable horizontal scrolling for tables wider than the screen */
  }

  .title-welcome-mobile {
    display: block; /* Show the mobile title on small screens */
  }

  .title-welcome-desktop {
    display: none; /* Hide the desktop title on small screens */
  }

  .dataTables_filter {
    float: none;
    text-align: center; /* Center the search bar on mobile */
  }

  .dataTables_info {
    position: static; /* Reset the position */
    float: none; /* Reset the float */
    text-align: center; /* Center the info label */
  }
}


/* Hide the "Show entries" and pagination */
.dataTables_length,
.dataTables_paginate {
  display: none;
}

/* CSS to style the pagination buttons */
table.dataTable thead .sorting::after,
table.dataTable thead .sorting_asc::after {
  display: none;
}

table.dataTable thead .sorting_desc::after {
  display: none;
}

table.dataTable thead .sorting {
  background-image: url(https://datatables.net/media/images/sort_both.png);
  background-repeat: no-repeat;
  background-position: center right;
}

table.dataTable thead .sorting_asc {
  background-image: url(https://datatables.net/media/images/sort_asc.png);
  background-repeat: no-repeat;
  background-position: center right;
}

table.dataTable thead .sorting_desc {
  background-image: url(https://datatables.net/media/images/sort_desc.png);
  background-repeat: no-repeat;
  background-position: center right;
}

.dataTables_wrapper.no-footer {
  padding-bottom: 20px; /* Add bottom padding */
}

h1,
h2 {
  text-align: center;
  padding: 0; /* Remove padding */
  margin: 15px; /* Remove margin (optional) */
}

/* Search icon for DataTables search bar */
.dataTables_filter input {
  background-image: url("../images/search.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-size: 21px 21px;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  box-sizing: border-box;
  position: sticky;
}

.social-links-wrapper {
  display: flex;
  justify-content: center;
}

.social-links {
  display: flex;
  gap: 10px; /* Space between icons */
}

.social-links a {
  color: #fff; /* Icon color */
  font-size: 17px; /* Icon size */
}

.social-links a:hover {
  color: #6236ff; /* Green color for links hover effect, change as needed */
}

/* Remove the search icon from the search input on iOS */
[type="search"]::-webkit-search-decoration {
  appearance: none;
}
