<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Replace the meta tags with your information (optional) -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <meta id="viewport" name="viewport" content="width=1100, initial-scale=1.0"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> -->
    <meta name="robots" content="index, follow" />
    <meta name="description" content="{{ site.description }}" />
    <!-- Sharing on social media and X -->
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta
      property="og:image"
      content="{{ '/assets/images/banner_social.png' | relative_url }}"
    />
    <meta property="og:url" content="{{ site.repo_url }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@{{ site.x_username }}" />
    <meta name="twitter:title" content="{{ site.title }}" />
    <meta name="twitter:description" content="{{ site.description }}" />
    <meta
      name="twitter:image"
      content="{{ '/assets/images/banner_social.png' | relative_url }}"
    />
    <!-- favicons -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ '/assets/images/favicons/apple-touch-icon.png' | relative_url }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ '/assets/images/favicons/favicon-32x32.png' | relative_url }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ '/assets/images/favicons/favicon-16x16.png' | relative_url }}"
    />
    <link
      rel="manifest"
      href="{{ '/assets/images/favicons/site.webmanifest' | relative_url }}"
    />
    <link
      rel="mask-icon"
      href="{{ '/assets/images/favicons/safari-pinned-tab.svg' | relative_url }}"
      color="#6236ff"
    />
    <link
      rel="shortcut icon"
      href="{{ '/assets/images/favicons/favicon.ico' | relative_url }}"
    />
    <meta name="msapplication-TileColor" content="#ff0000" />
    <meta
      name="msapplication-config"
      content="{{ '/assets/images/favicons/browserconfig.xml' | relative_url }}"
    />
    <meta name="theme-color" content="#6236ff" />
    <!-- Web page title -->
    <title>{{ site.title }}</title>
    <!-- Custom Styles -->
    <link
      rel="stylesheet"
      href="{{ '/assets/css/style.css' | relative_url }}"
    />
    <!-- Include Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <!-- Include jQuery and DataTables Libraries -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script
      type="text/javascript"
      src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"
    ></script>
  </head>
  <body>
    <div class="header-content">
      <a href="{{ site.repo_url }}" target="_blank">
        <img
          src="{{ '/assets/images/banner_large.png' | relative_url }}"
          alt="PRG Logo"
          class="header-logo-desktop"
          width="100%"
        />
        <img
          src="{{ '/assets/images/banner_social.png' | relative_url }}"
          alt="PRG Logo"
          class="header-logo-mobile"
          width="100%"
        />
      </a>
      <h1>Welcome to PRG!</h1>
      <div class="header-description">{{ site.description }}</div>
    </div>
    <main>
      <div id="content">{{ content }}</div>
    </main>
    <br />
    <div class="social-links-wrapper">
      <div class="social-links">
        <i>Built with GitHub Actions</i>
      </div>
    </div>
    <div class="social-links-wrapper">
      <div class="social-links">
        <a
          href="https://github.com/scottgriv/PRG-Personal-Repository-Guidelines"
          target="_blank"
          rel="noreferrer"
          ><i class="fab fa-github fa-bounce"></i>
          <b>Check out PRG on GitHub!</b>
        </a>
      </div>
    </div>
    <br />
    <script>
      $(document).ready(function () {
        // Add data attributes before DataTables initialization
        addDataAttributes();

        // Create a custom sorting function
        jQuery.extend(jQuery.fn.dataTableExt.oSort, {
          "tier-pre": function (a) {
            switch (a.trim()) {
              case "Gold":
                return 1;
              case "Silver":
                return 2;
              case "Bronze":
                return 3;
              case "Optimized":
                return 4;
              default:
                return 5;
            }
          },
          "tier-asc": function (a, b) {
            return a < b ? -1 : a > b ? 1 : 0;
          },
          "tier-desc": function (a, b) {
            return a < b ? 1 : a > b ? -1 : 0;
          },
        });

        // Initialize DataTables
        var table = $("#content table").DataTable({
          columnDefs: [
            { targets: [0], orderable: false },
            { type: "tier", targets: [6] }, // Assuming Tier is the 7th column (0-indexed)
          ],
          language: {
            search: "",
            searchPlaceholder: "Search Repositories...",
            info: "Showing _TOTAL_ Repositories",
            emptyTable: "No projects available",
            zeroRecords: "No projects found",
          },
          dom: "<if<t>>",
          pageLength: -1, // Show all rows
        });

        // Function to add data attributes
        function addDataAttributes() {
          $("#content table tbody tr").each(function () {
            $(this)
              .children()
              .each(function (index) {
                var cell = $(this);
                if (index === 0) {
                  cell.attr("data-search", "");
                } else if (index === $(this).siblings().length) {
                  var altText = cell.find("img").attr("alt");
                  cell.attr("data-search", altText);
                  cell.attr("data-order", altText);
                } else {
                  cell.attr("data-search", cell.text().trim());
                }
              });
          });
        }
      });
    </script>
  </body>
</html>
